<section class="section">
    <div class="container">
      <div class="is-vcentered columns is-multiline">
        <div class="column is-6 mb-5">
          <h2 class="title is-2 has-text-weight-bold">dadamachines</h2>
          <h4 class="subtitle is-3 has-text-weight-bold mt-4 mb-4">Contact us</h4>
          <p class="has-text-grey-dark mb-1 is-size-5-desktop">For general for general inquiries: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%68%69%40%64%61%64%61%6D%61%63%68%69%6E%65%73%2E%63%6F%6D">hi@dadamachines.com</a></p>
          <p class="has-text-grey-dark mb-1 is-size-5-desktop">For support requests: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%68%65%6C%70%40%64%61%64%61%6D%61%63%68%69%6E%65%73%2E%63%6F%6D">help@dadamachines.com</a></p>
          <p class="has-text-grey-dark mb-1 is-size-5-desktop">Book a meeting: <a href="/30minute-meeting/">Setup a 30 minute call.</a></p>
        </div>
        <div class="column is-5 ml-auto">
            <h4 class="is-size-5 has-text-weight-bold pt-1">Send us a message</h4>
            <form
            action="https://formspree.io/f/mnqeoaeg" method="POST" >
            <div class="field">
              <div class="control">
                <input class="input" type="text" placeholder="Your Name">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label>
                    <input class="input" type="email" name="email" placeholder="Your E-mail">
                </label>
              </div>
            </div>
            <div class="field">
                <div class="control">
                    <label>
                        <textarea class="textarea has-fixed-size" name="message" cols="30" rows="10" placeholder="Your Message..."></textarea>
                    </label>
                </div>
            </div>
            <button class="explore-link is-blue is-large" type="submit" style="width: 100%; border: none; cursor: pointer;">Send</button>
          </form>
        </div>
      </div>
    </div>
  </section>
