<section class="section">
    <div class="container">
      <div class="is-vcentered columns is-multiline">
        <div class="column is-6 mb-5">
          <h2 class="mb-5 is-size-1 is-size-3-mobile has-text-weight-bold">dadamachines</h2>
          <h4 class="is-size-5 has-text-weight-bold">Address</h4>
          <p class="has-text-grey-dark mb-5"><strong>Mail:</strong><br>dadamachines<br>c/o Johannes Lohbihler<br>Schwedter Str. 267<br>10119 Berlin<br>Germany</p>
          <p class="has-text-grey-dark mb-5"><strong>Office:</strong><br>Denizen House Eiswerk<br>Köpenicker Str. 40 &mdash; 41 <br>10179 Berlin<br>Germany</p>
          <h4 class="is-size-5 has-text-weight-bold">Contact us</h4>
          <p class="has-text-grey-dark mb-1">For general for general inquiries: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%68%69%40%64%61%64%61%6D%61%63%68%69%6E%65%73%2E%63%6F%6D">hi@dadamachines.com</a></p>
          <p class="has-text-grey-dark mb-1">For support requests: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%68%65%6C%70%40%64%61%64%61%6D%61%63%68%69%6E%65%73%2E%63%6F%6D">help@dadamachines.com</a></p>
        </div>
        <div class="column is-5 ml-auto">
            <form
            action="https://formspree.io/f/mnqeoaeg" method="POST" >
            <!--
            <div class="field">
              <div class="control">
                <input class="input" type="text" placeholder="Name">
              </div>
            </div>
            -->
            <div class="field">
              <div class="control">
                <label>
                    <input class="input" type="email" name="email" placeholder="E-mail">
                </label>
              </div>
            </div>
            <div class="field">
                <div class="control">
                    <label>
                        <textarea class="textarea has-fixed-size" name="message" cols="30" rows="10" placeholder="Your Message..."></textarea>
                    </label>
                </div>
            </div>
            <button class="button is-info is-fullwidth" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  </section>