<nav class="product-sticky-nav">
  <div class="product-sticky-nav-container container">
    <ul class="product-sticky-nav-list">
      <li{% if page.url == '/products/automat-toolkit/' %} class="is-active"{% endif %}>
        <a href="/products/automat-toolkit/">Overview</a>
      </li>
      <li{% if page.url == '/products/automat-toolkit/inside/' %} class="is-active"{% endif %}>
        <a href="/products/automat-toolkit/inside">Inside</a>
      </li>
      <li class="buy">
        <a href="/shop/" class="explore-link is-blue is-medium">Buy now</a>
      </li>
    </ul>
  </div>
</nav>

